<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <!-- 指定数据库驱动的jdbc驱动jar包的位置 -->
<!--    <classPathEntry location="${user.home}/.gradle/caches/modules-2/files-2.1/org.postgresql/postgresql/42.2.14/45fa6eef266aa80024ef2ab3688d9faa38c642e5/postgresql-42.2.14.jar" />-->

    <context id="default" targetRuntime="MyBatis3">

        <!--自动实现Serializable接口-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <!-- 去除自动生成的注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!--数据库基本信息-->
        <jdbcConnection driverClass="org.postgresql.Driver"
                        connectionURL="jdbc:postgresql://localhost:5450/postgres?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=GMT%2B8"
                        userId="postgres"
                        password="pgpassword">
        </jdbcConnection>

        <!--生成实体类的位置以及包的名字-->
        <!--同样Mac用户：targetProject 为全路径-->
        <javaModelGenerator targetPackage="com.gary.cloudinteractive.webapi.model.mybatis" targetProject="./src/test/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false" />
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--生成映射文件存放位置-->
        <!--同样Mac用户：targetProject 为全路径-->
        <sqlMapGenerator targetPackage="mapper" targetProject="./src/test/resources">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!--生成Dao类存放位置,mapper接口生成的位置-->
        <!--同样Mac用户：targetProject 为全路径-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.gary.cloudinteractive.webapi.dao" targetProject="./src/test/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 配置表信息 -->
        <!-- schema即为数据库名 tableName为对应的数据库表 domainObjectName是要生成的实体类 enable*ByExample
            是否生成 example类 -->

<!--        <table schema="public" tableName="zip_code"-->
<!--               domainObjectName="ZipCode" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false"-->
<!--               enableUpdateByExample="false">-->
<!--        </table>-->

        <table schema="public" tableName="%"
            enableCountByExample="false"
            enableDeleteByExample="false"
            enableSelectByExample="false"
            enableUpdateByExample="false">
        </table>

    </context>
</generatorConfiguration>
